flows.json
[
    {
        "id": "c2efbb9d6f4ed7fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5d6e2eeb1b0369d",
        "type": "mqtt-broker",
        "name": "MyMosquito",
        "broker": "172.19.0.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff891277f53e0293",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f54372b43cdc3c39",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "594e2b943ae5f19a",
        "type": "ui_group",
        "name": "Dashboard1",
        "tab": "ff891277f53e0293",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd4510ffbb1bdb0a",
        "type": "ui_gauge",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Level ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dd760"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 150,
        "y": 120,
        "wires": []
    },
    {
        "id": "6028b375a4b87050",
        "type": "ui_chart",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Treat Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 170,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "291f0f0b819b7cc6",
        "type": "ui_button",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Give Treat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e5be465072f5b0d9",
        "type": "ui_button",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Treat Log",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4f7bd3b951e82246",
        "type": "ui_dropdown",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "label": "Stop Treat For",
        "tooltip": "",
        "place": "Select option",
        "group": "594e2b943ae5f19a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 minute",
                "value": 60,
                "type": "num"
            },
            {
                "label": "5 minute",
                "value": 300,
                "type": "num"
            },
            {
                "label": "30 minute",
                "value": 900,
                "type": "num"
            },
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "83423254d62b9f7b",
        "type": "ui_switch",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "label": "Stop Treat",
        "tooltip": "",
        "group": "594e2b943ae5f19a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "38c11f03c38657ba"
            ]
        ]
    },
    {
        "id": "38c11f03c38657ba",
        "type": "mqtt out",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 470,
        "y": 200,
        "wires": []
    }
]