flows.json
[
    {
        "id": "c2efbb9d6f4ed7fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5d6e2eeb1b0369d",
        "type": "mqtt-broker",
        "name": "MyMosquito",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff891277f53e0293",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f54372b43cdc3c39",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "594e2b943ae5f19a",
        "type": "ui_group",
        "name": "Capacità",
        "tab": "ff891277f53e0293",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "291f0f0b819b7cc6",
        "type": "ui_button",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Eroga croccantini",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Il cane ha mangiato",
        "payloadType": "str",
        "topic": "unisa/IoT/gruppo07/pranzo_animale",
        "topicType": "msg",
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "fd1979bf6e1e7882"
            ]
        ]
    },
    {
        "id": "5d7b780d1325102e",
        "type": "mqtt in",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "topic": "unisa/IoT/gruppo07/pienezza_dispenser",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d5d6e2eeb1b0369d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "45a5313cb016fabd",
                "c47c8dc737b987fb"
            ]
        ]
    },
    {
        "id": "a190e63773dc3ed0",
        "type": "mqtt in",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "topic": "unisa/IoT/gruppo07/distanza_animale",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d5d6e2eeb1b0369d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "de92f7fc57aac544"
            ]
        ]
    },
    {
        "id": "8a2f2c3713c54da3",
        "type": "mqtt in",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "topic": "unisa/IoT/gruppo07/pranzo_animale",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d5d6e2eeb1b0369d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "30f75955162f0477"
            ]
        ]
    },
    {
        "id": "fa2dc71f77bfc4e6",
        "type": "mqtt in",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "topic": "unisa/IoT/gruppo07/cena_animale",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d5d6e2eeb1b0369d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "cf926253dda0a884"
            ]
        ]
    },
    {
        "id": "45a5313cb016fabd",
        "type": "ui_gauge",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Percentuale di pienezza del dispeser",
        "label": "%",
        "format": "{{msg.payload.percentage}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#fff700",
            "#4dff00"
        ],
        "seg1": "20",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "de92f7fc57aac544",
        "type": "ui_toast",
        "z": "c2efbb9d6f4ed7fd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "DISMISS",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Il cane ha fame.",
        "x": 800,
        "y": 480,
        "wires": [
            [
                "291f0f0b819b7cc6"
            ]
        ]
    },
    {
        "id": "30f75955162f0477",
        "type": "ui_toast",
        "z": "c2efbb9d6f4ed7fd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "DISMISS",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Il cane ha pranzato.",
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "cf926253dda0a884",
        "type": "ui_toast",
        "z": "c2efbb9d6f4ed7fd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "DISMISS",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Il cane ha cenato.",
        "x": 890,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "fd1979bf6e1e7882",
        "type": "mqtt out",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5d6e2eeb1b0369d",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "8a57b3c4184cfb9a",
        "type": "debug",
        "z": "c2efbb9d6f4ed7fd",
        "name": "Aggiungere reset",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 720,
        "wires": []
    },
    {
        "id": "c47c8dc737b987fb",
        "type": "debug",
        "z": "c2efbb9d6f4ed7fd",
        "name": "Aggiungere notifica in base alla pienezza del dispnser",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.percentage",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "093f02624fc93622",
        "type": "ui_button",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log time eating",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1140,
        "y": 560,
        "wires": [
            [
                "072dd270e899cd38"
            ]
        ]
    },
    {
        "id": "072dd270e899cd38",
        "type": "ui_chart",
        "z": "c2efbb9d6f4ed7fd",
        "name": "",
        "group": "594e2b943ae5f19a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Shows eating",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 560,
        "wires": [
            []
        ]
    }
]